/*h1,p,ul,li{
    text-align: center;
    background-color: beige;
    margin: 10%;
    color: aqua;
}*/
/*.para{
    background-color: aliceblue;
    text-align: center;
    color: blue;
}

#abc{
    background-color: gold;
    text-align: left;
    color: aqua;
}
*{
    background-color: aqua;
}*/

